In [1]:
import pandas as pd
import yfinance as yf

In [2]:
list_tickers = ["GC=F", "SI=F", "CL=F", "BZ=F", "NG=F", "HG=F", "GD=F"]

In [3]:
data_MP = pd.DataFrame()

# Télécharger les données pour chaque ticker
for ticker in list_tickers:

    print(f"Téléchargement des données pour {ticker}")

    # Télécharger les données de l'action entre les dates spécifiées
    data = yf.download(
                        ticker,
                        interval="1d",
                        period="max",
                        auto_adjust=True,
                        actions=False
                        )

    # Ajouter une colonne pour identifier le ticker
    data['Ticker'] = ticker

    # On retire le niveau des tickers pour ne garder que 'Close' et 'Volume'
    data.columns = data.columns.droplevel(level=1)

    # Concaténer les données dans la DataFrame globale
    data_MP= pd.concat([data_MP, data])

# Affichage de la DataFrame résultante
data_MP

Téléchargement des données pour GC=F

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour SI=F

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour CL=F

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour BZ=F

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour NG=F

[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour HG=F

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour GD=F

Price            Close        High         Low        Open  Volume Ticker
Date
2000-08-30  273.899994  273.899994  273.899994  273.899994       0   GC=F
2000-08-31  278.299988  278.299988  274.799988  274.799988       0   GC=F
2000-09-01  277.000000  277.000000  277.000000  277.000000       0   GC=F
2000-09-05  275.799988  275.799988  275.799988  275.799988       2   GC=F
2000-09-06  274.200012  274.200012  274.200012  274.200012       0   GC=F
...                ...         ...         ...         ...     ...    ...
2025-09-30  550.450012  551.599976  550.099976  550.650024      24   GD=F
2025-10-01  549.200012  549.799988  547.700012  547.700012      14   GD=F
2025-10-02  544.450012  544.500000  544.200012  544.450012      72   GD=F
2025-10-03  546.349976  546.650024  545.000000  545.000000      29   GD=F
2025-10-06  550.950012  551.799988  550.900024  551.799988      99   GD=F

[40960 rows x 6 columns]

In [4]:
data_MP = data_MP.reset_index()
data_MP

Price,Date,Close,High,Low,Open,Volume,Ticker
0,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,GC=F
1,2000-08-31,278.299988,278.299988,274.799988,274.799988,0,GC=F
2,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,GC=F
3,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,GC=F
4,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,GC=F
...,...,...,...,...,...,...,...
40955,2025-09-30,550.450012,551.599976,550.099976,550.650024,24,GD=F
40956,2025-10-01,549.200012,549.799988,547.700012,547.700012,14,GD=F
40957,2025-10-02,544.450012,544.500000,544.200012,544.450012,72,GD=F
40958,2025-10-03,546.349976,546.650024,545.000000,545.000000,29,GD=F
40959,2025-10-06,550.950012,551.799988,550.900024,551.799988,99,GD=F

In [5]:
data_MP.to_parquet('/Users/forget/Library/Mobile Documents/com~apple~CloudDocs/Project Stock Market Deep Learning/Data/data_MP.parquet')

In [6]:
data_MP.sort_values('Date', ascending=True, inplace=True)
data_MP

Price       Date      Close       High        Low       Open  Volume Ticker
12600 2000-08-23  32.049999  32.799999  31.950001  31.950001   79385   CL=F
12601 2000-08-24  31.629999  32.240002  31.400000  31.900000   72978   CL=F
12602 2000-08-25  32.049999  32.099998  31.320000  31.700001   44601   CL=F
12603 2000-08-28  32.869999  32.919998  31.860001  32.040001   46770   CL=F
12604 2000-08-29  32.720001  33.029999  32.560001  32.820000   49131   CL=F
...          ...        ...        ...        ...        ...     ...    ...
18907 2025-10-07  61.669998  62.040001  61.270000  61.730000   40383   CL=F
29738 2025-10-07   3.455000   3.456000   3.360000   3.398000   22283   NG=F
12599 2025-10-07  48.375000  48.549999  47.520000  48.404999   33306   SI=F
23433 2025-10-07  65.510002  65.830002  65.080002  65.540001    9303   BZ=F
36042 2025-10-07   5.073000   5.094000   5.032000   5.042000    9259   HG=F

[40960 rows x 7 columns]