In [1]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [2]:
list_tickers = ["GC=F", "SI=F", "CL=F", "BZ=F", "NG=F", "HG=F", "GD=F"]

In [3]:
data_MP = pd.DataFrame()

# Télécharger les données pour chaque ticker
for ticker in list_tickers:

    print(f"Téléchargement des données pour {ticker}")

    # Télécharger les données de l'action entre les dates spécifiées
    data = yf.download(
                        ticker,
                        interval="1d",
                        period="max",
                        auto_adjust=True,
                        actions=False
                        )

    # Ajouter une colonne pour identifier le ticker
    data['Ticker'] = ticker

    # On retire le niveau des tickers pour ne garder que 'Close' et 'Volume'
    data.columns = data.columns.droplevel(level=1)

    # Concaténer les données dans la DataFrame globale
    data_MP= pd.concat([data_MP, data])

# Affichage de la DataFrame résultante
data_MP

Téléchargement des données pour GC=F

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour SI=F
Téléchargement des données pour CL=F

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour BZ=F
Téléchargement des données pour NG=F

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Téléchargement des données pour HG=F
Téléchargement des données pour GD=F

[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open  Volume Ticker
Date
2000-08-30  273.899994  273.899994  273.899994  273.899994       0   GC=F
2000-08-31  278.299988  278.299988  274.799988  274.799988       0   GC=F
2000-09-01  277.000000  277.000000  277.000000  277.000000       0   GC=F
2000-09-05  275.799988  275.799988  275.799988  275.799988       2   GC=F
2000-09-06  274.200012  274.200012  274.200012  274.200012       0   GC=F
...                ...         ...         ...         ...     ...    ...
2025-09-08  546.349976  546.900024  546.349976  546.349976     106   GD=F
2025-09-09  548.049988  550.500000  548.049988  550.500000     154   GD=F
2025-09-10  549.849976  550.750000  549.849976  549.849976      93   GD=F
2025-09-11  546.049988  554.150024  545.000000  545.000000     123   GD=F
2025-09-12  550.000000  550.000000  550.000000  550.000000     123   GD=F

[40848 rows x 6 columns]

In [4]:
data_MP = data_MP.reset_index()
data_MP

Price,Date,Close,High,Low,Open,Volume,Ticker
0,2000-08-30,273.899994,273.899994,273.899994,273.899994,0,GC=F
1,2000-08-31,278.299988,278.299988,274.799988,274.799988,0,GC=F
2,2000-09-01,277.000000,277.000000,277.000000,277.000000,0,GC=F
3,2000-09-05,275.799988,275.799988,275.799988,275.799988,2,GC=F
4,2000-09-06,274.200012,274.200012,274.200012,274.200012,0,GC=F
...,...,...,...,...,...,...,...
40843,2025-09-08,546.349976,546.900024,546.349976,546.349976,106,GD=F
40844,2025-09-09,548.049988,550.500000,548.049988,550.500000,154,GD=F
40845,2025-09-10,549.849976,550.750000,549.849976,549.849976,93,GD=F
40846,2025-09-11,546.049988,554.150024,545.000000,545.000000,123,GD=F
40847,2025-09-12,550.000000,550.000000,550.000000,550.000000,123,GD=F

In [5]:
data_MP.to_parquet('/Users/forget/Library/Mobile Documents/com~apple~CloudDocs/Project Stock Market Deep Learning/Data/data_MP.parquet')

In [6]:
data_MP.sort_values('Date', ascending=True, inplace=True)
data_MP

Price       Date      Close       High        Low       Open  Volume Ticker
12568 2000-08-23  32.049999  32.799999  31.950001  31.950001   79385   CL=F
12569 2000-08-24  31.629999  32.240002  31.400000  31.900000   72978   CL=F
12570 2000-08-25  32.049999  32.099998  31.320000  31.700001   44601   CL=F
12571 2000-08-28  32.869999  32.919998  31.860001  32.040001   46770   CL=F
12572 2000-08-29  32.720001  33.029999  32.560001  32.820000   49131   CL=F
...          ...        ...        ...        ...        ...     ...    ...
18859 2025-09-15  63.130001  63.240002  62.520000  62.970001    9724   CL=F
29658 2025-09-15   2.971000   2.995000   2.951000   2.951000    6042   NG=F
12567 2025-09-15  42.674999  42.840000  42.500000  42.724998    8619   SI=F
23369 2025-09-15  67.430000  67.519997  66.790001  67.220001    2034   BZ=F
35946 2025-09-15   4.659000   4.669000   4.638500   4.652500    2892   HG=F

[40848 rows x 7 columns]